@tailwind base;
@tailwind components;
@tailwind utilities;



body{
  background-color: rgb(0, 0, 0);
  background-image: radial-gradient(
    rgba(216, 180, 254, 0.314),
    rgba(0, 0, 0, 0.178), 
    rgba(0, 0, 0, 0.265));
    background-repeat: no-repeat;
    background-size: contain;
    min-height: 100vh;
}

input, textarea{
  background-color: transparent;
}

*:focus{
  outline-style: dotted;
  outline-color: rgba(216, 180, 254, 0.747);
  outline-width: 1px;
  outline-offset: 3px;
}